USE [master]
GO
/****** Object:  Database [WikiCrafteo]    Script Date: 22/11/2021 05:49:31 ******/
CREATE DATABASE [WikiCrafteo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WikiCrafteo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WikiCrafteo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WikiCrafteo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WikiCrafteo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WikiCrafteo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WikiCrafteo]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 22/11/2021 05:49:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID_JUGADOR] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](50) NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[ID_JUGADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
