USE [master]
GO
/****** Object:  Database [WikiCrafteoDB]    Script Date: 28/11/2021 17:54:03 ******/
CREATE DATABASE [WikiCrafteoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WikiCrafteoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WikiCrafteoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WikiCrafteoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WikiCrafteoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WikiCrafteoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WikiCrafteoDB]
GO
/****** Object:  Table [dbo].[Elementos]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elementos](
	[ID_ELEMENTO] [int] IDENTITY(1,1) NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[CANTIDAD] [varchar](50) NOT NULL,
	[MATERIAL] [varchar](50) NOT NULL,
	[TIPO] [bit] NOT NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_Elementos] PRIMARY KEY CLUSTERED 
(
	[ID_ELEMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[ID_INVENTARIO] [int] NOT NULL,
	[CAPACIDAD] [int] NOT NULL,
 CONSTRAINT [PK_Inventarios] PRIMARY KEY CLUSTERED 
(
	[ID_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID_JUGADOR] [int] NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Jugador] PRIMARY KEY CLUSTERED 
(
	[ID_JUGADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Inventarios] ([ID_INVENTARIO], [CAPACIDAD]) VALUES (1, 20)
INSERT [dbo].[Inventarios] ([ID_INVENTARIO], [CAPACIDAD]) VALUES (2, 20)
INSERT [dbo].[Inventarios] ([ID_INVENTARIO], [CAPACIDAD]) VALUES (3, 20)
GO
INSERT [dbo].[Jugadores] ([ID_JUGADOR], [ID_INVENTARIO], [USUARIO]) VALUES (1, 1, N'celes22')
INSERT [dbo].[Jugadores] ([ID_JUGADOR], [ID_INVENTARIO], [USUARIO]) VALUES (2, 2, N'UTN')
INSERT [dbo].[Jugadores] ([ID_JUGADOR], [ID_INVENTARIO], [USUARIO]) VALUES (3, 3, N'Ger0')
GO
ALTER TABLE [dbo].[Elementos]  WITH CHECK ADD  CONSTRAINT [FK_Elementos_Inventarios] FOREIGN KEY([ID_INVENTARIO])
REFERENCES [dbo].[Inventarios] ([ID_INVENTARIO])
GO
ALTER TABLE [dbo].[Elementos] CHECK CONSTRAINT [FK_Elementos_Inventarios]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Inventarios] FOREIGN KEY([ID_INVENTARIO])
REFERENCES [dbo].[Inventarios] ([ID_INVENTARIO])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Inventarios]
GO
/****** Object:  StoredProcedure [dbo].[consulta_BorrarJugador]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_BorrarJugador]
@ID_JUGADOR INT,
@ID_INVENTARIO INT
AS 
BEGIN

DELETE FROM Elementos
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Jugadores
WHERE ID_JUGADOR = @ID_JUGADOR
DELETE FROM Inventarios
WHERE ID_INVENTARIO = @ID_INVENTARIO

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_EditarInventario]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_EditarInventario]
(@ID_INVENTARIO AS INT,
@CAPACIDAD AS INT)
AS 
BEGIN

UPDATE Inventarios SET CAPACIDAD = @CAPACIDAD
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Elementos
WHERE ID_INVENTARIO = @ID_INVENTARIO

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_GuardarCubo]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_GuardarCubo]
@ID_INVENTARIO INT,
@CAPACIDAD INT,
@CCANTIDAD INT,
@CMATERIAL VARCHAR(50),
@TIPO BIT,
@DESCRIPCION VARCHAR(50)
AS 
BEGIN

INSERT INTO Elementos(ID_INVENTARIO, CANTIDAD, MATERIAL, TIPO, DESCRIPCION)
VALUES (@ID_INVENTARIO, @CCANTIDAD, @CMATERIAL, @TIPO, @DESCRIPCION)
UPDATE Inventarios SET CAPACIDAD = @CAPACIDAD 
WHERE ID_INVENTARIO = @ID_INVENTARIO 

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_GuardarHerramienta]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_GuardarHerramienta]
@ID_INVENTARIO INT,
@CAPACIDAD INT,
@HCANTIDAD INT,
@HMATERIAL VARCHAR(50),
@TIPO BIT,
@DESCRIPCION VARCHAR(50)
AS 
BEGIN

INSERT INTO Elementos(ID_INVENTARIO, CANTIDAD, MATERIAL, TIPO, DESCRIPCION)
VALUES (@ID_INVENTARIO, @HCANTIDAD, @HMATERIAL, @TIPO, @DESCRIPCION)
UPDATE Elementos SET CANTIDAD = CANTIDAD - @HCANTIDAD
WHERE ID_INVENTARIO = @ID_INVENTARIO AND MATERIAL = @HMATERIAL AND TIPO = 0
UPDATE Inventarios SET CAPACIDAD = @CAPACIDAD 
WHERE ID_INVENTARIO = @ID_INVENTARIO 

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_GuardarJugador]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_GuardarJugador]
(@ID_JUGADOR AS INT,
@USUARIO AS VARCHAR(50),
@ID_INVENTARIO AS INT,
@CAPACIDAD AS INT)
AS 
BEGIN

INSERT INTO Inventarios(ID_INVENTARIO, CAPACIDAD)
VALUES (@ID_INVENTARIO, @CAPACIDAD)
INSERT INTO Jugadores(ID_JUGADOR,USUARIO,ID_INVENTARIO)
VALUES (@ID_JUGADOR,@USUARIO,@ID_INVENTARIO)

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_ObtenerTodos]    Script Date: 28/11/2021 17:54:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[consulta_ObtenerTodos]

AS
BEGIN
SELECT j.ID_JUGADOR, j.USUARIO, j.ID_INVENTARIO AS "ID_INVENTARIO",i.CAPACIDAD,e.CANTIDAD,e.MATERIAL,e.TIPO,e.DESCRIPCION
FROM [WikiCrafteoDB].[dbo].[Jugadores] j 
LEFT JOIN [WikiCrafteoDB].[dbo].[Inventarios] i ON j.ID_INVENTARIO = i.ID_INVENTARIO
LEFT JOIN [WikiCrafteoDB].[dbo].[Elementos] e ON i.ID_INVENTARIO = e.ID_INVENTARIO
END
GO
USE [master]
GO
