USE [master]
GO
/****** Object:  Database [WikiCrafteo]    Script Date: 28/11/2021 03:16:48 ******/
CREATE DATABASE [WikiCrafteo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WikiCrafteo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WikiCrafteo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WikiCrafteo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WikiCrafteo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WikiCrafteo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WikiCrafteo]
GO
/****** Object:  Table [dbo].[Cubos]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cubos](
	[ID_CUBO] [int] IDENTITY(1,1) NOT NULL,
	[ID_INVENTARIO] [int] NULL,
	[MATERIAL] [varchar](50) NULL,
	[CANTIDAD] [int] NULL,
 CONSTRAINT [PK_Cubos] PRIMARY KEY CLUSTERED 
(
	[ID_CUBO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Herramientas]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Herramientas](
	[ID_HERRAMIENTA] [int] IDENTITY(1,1) NOT NULL,
	[ID_INVENTARIO] [int] NULL,
	[MATERIAL] [varchar](50) NULL,
	[CANTIDAD] [int] NULL,
	[HERRAMIENTA] [varchar](50) NULL,
 CONSTRAINT [PK_Herramientas] PRIMARY KEY CLUSTERED 
(
	[ID_HERRAMIENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[ID_INVENTARIO] [int] NOT NULL,
	[CAPACIDAD] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[ID_JUGADOR] [int] NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[ID_INVENTARIO] [int] NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[ID_JUGADOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cubos] ON 

INSERT [dbo].[Cubos] ([ID_CUBO], [ID_INVENTARIO], [MATERIAL], [CANTIDAD]) VALUES (1, 1, N'Diamante', 2)
INSERT [dbo].[Cubos] ([ID_CUBO], [ID_INVENTARIO], [MATERIAL], [CANTIDAD]) VALUES (2, 1, N'Madera', 3)
INSERT [dbo].[Cubos] ([ID_CUBO], [ID_INVENTARIO], [MATERIAL], [CANTIDAD]) VALUES (3, 2, N'Piedra', 4)
SET IDENTITY_INSERT [dbo].[Cubos] OFF
GO
SET IDENTITY_INSERT [dbo].[Herramientas] ON 

INSERT [dbo].[Herramientas] ([ID_HERRAMIENTA], [ID_INVENTARIO], [MATERIAL], [CANTIDAD], [HERRAMIENTA]) VALUES (1, 1, N'Diamante', 2, N'Espada')
INSERT [dbo].[Herramientas] ([ID_HERRAMIENTA], [ID_INVENTARIO], [MATERIAL], [CANTIDAD], [HERRAMIENTA]) VALUES (2, 2, N'Madera', 3, N'Espada')
INSERT [dbo].[Herramientas] ([ID_HERRAMIENTA], [ID_INVENTARIO], [MATERIAL], [CANTIDAD], [HERRAMIENTA]) VALUES (3, 3, N'Piedra', 4, N'Hacha')
SET IDENTITY_INSERT [dbo].[Herramientas] OFF
GO
INSERT [dbo].[Inventarios] ([ID_INVENTARIO], [CAPACIDAD]) VALUES (1, 20)
INSERT [dbo].[Inventarios] ([ID_INVENTARIO], [CAPACIDAD]) VALUES (2, 20)
INSERT [dbo].[Inventarios] ([ID_INVENTARIO], [CAPACIDAD]) VALUES (3, 20)
GO
INSERT [dbo].[Jugadores] ([ID_JUGADOR], [USUARIO], [ID_INVENTARIO]) VALUES (1, N'celes22', 1)
INSERT [dbo].[Jugadores] ([ID_JUGADOR], [USUARIO], [ID_INVENTARIO]) VALUES (2, N'UTN', 2)
INSERT [dbo].[Jugadores] ([ID_JUGADOR], [USUARIO], [ID_INVENTARIO]) VALUES (3, N'Ger0', 3)
GO
/****** Object:  Index [PK_Inventarios]    Script Date: 28/11/2021 03:16:49 ******/
ALTER TABLE [dbo].[Inventarios] ADD  CONSTRAINT [PK_Inventarios] PRIMARY KEY NONCLUSTERED 
(
	[ID_INVENTARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventarios] ADD  CONSTRAINT [DF_Inventarios_CAPACIDAD]  DEFAULT ((20)) FOR [CAPACIDAD]
GO
ALTER TABLE [dbo].[Cubos]  WITH CHECK ADD  CONSTRAINT [FK_Cubos_Inventarios] FOREIGN KEY([ID_INVENTARIO])
REFERENCES [dbo].[Inventarios] ([ID_INVENTARIO])
GO
ALTER TABLE [dbo].[Cubos] CHECK CONSTRAINT [FK_Cubos_Inventarios]
GO
ALTER TABLE [dbo].[Herramientas]  WITH CHECK ADD  CONSTRAINT [FK_Herramientas_Inventarios] FOREIGN KEY([ID_INVENTARIO])
REFERENCES [dbo].[Inventarios] ([ID_INVENTARIO])
GO
ALTER TABLE [dbo].[Herramientas] CHECK CONSTRAINT [FK_Herramientas_Inventarios]
GO
ALTER TABLE [dbo].[Jugadores]  WITH NOCHECK ADD  CONSTRAINT [FK_Jugadores_Inventarios] FOREIGN KEY([ID_INVENTARIO])
REFERENCES [dbo].[Inventarios] ([ID_INVENTARIO])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Inventarios]
GO
/****** Object:  StoredProcedure [dbo].[consulta_AllJugadores]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[consulta_AllJugadores]
as
begin
SELECT j.ID_JUGADOR, j.USUARIO, j.ID_INVENTARIO,i.CAPACIDAD,c.CANTIDAD,c.MATERIAL,h.CANTIDAD,h.MATERIAL,h.HERRAMIENTA
FROM Jugadores j 
LEFT JOIN Inventarios i ON j.ID_INVENTARIO = i.ID_INVENTARIO
LEFT JOIN Cubos c ON i.ID_INVENTARIO = c.ID_INVENTARIO
LEFT JOIN Herramientas h ON i.ID_INVENTARIO = h.ID_INVENTARIO
end
GO
/****** Object:  StoredProcedure [dbo].[consulta_BorrarJugador]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[consulta_BorrarJugador]
@ID_JUGADOR INT,
@ID_INVENTARIO INT
AS 
BEGIN

DELETE FROM Cubos
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Herramientas
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Jugadores
WHERE ID_JUGADOR = @ID_JUGADOR
DELETE FROM Inventarios
WHERE ID_INVENTARIO = @ID_INVENTARIO

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_Cubos]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_Cubos]
AS
BEGIN
SELECT i.ID_INVENTARIO AS "ID_INVENTARIO",i.CAPACIDAD,c.CANTIDAD,c.MATERIAL
FROM Inventarios i 
LEFT JOIN Cubos c ON i.ID_INVENTARIO = c.ID_INVENTARIO

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_EditarInventario]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[consulta_EditarInventario]
(@ID_INVENTARIO AS INT,
@CAPACIDAD AS INT)
AS 
BEGIN

UPDATE Inventarios SET CAPACIDAD = @CAPACIDAD
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Cubos
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Herramientas
WHERE ID_INVENTARIO = @ID_INVENTARIO

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_GuardarCubo]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_GuardarCubo]
(@ID_INVENTARIO INT,
@CAPACIDAD INT,
@C_CANTIDAD INT,
@C_MATERIAL VARCHAR(50))
AS 
BEGIN

INSERT INTO Cubos (ID_INVENTARIO, CANTIDAD, MATERIAL)
VALUES (@ID_INVENTARIO, @C_CANTIDAD, @C_MATERIAL)
UPDATE Inventarios SET CAPACIDAD = @CAPACIDAD 
WHERE ID_INVENTARIO = @ID_INVENTARIO 

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_GuardarHerramienta]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_GuardarHerramienta]
@ID_INVENTARIO INT,
@CAPACIDAD INT,
@C_CANTIDAD INT,
@H_CANTIDAD INT,
@H_MATERIAL VARCHAR(50),
@HERRAMIENTA VARCHAR(50)
AS 
BEGIN

INSERT INTO Herramientas(ID_INVENTARIO, CANTIDAD, MATERIAL, HERRAMIENTA)
VALUES (@ID_INVENTARIO, @H_CANTIDAD, @H_MATERIAL, @HERRAMIENTA)
UPDATE Cubos SET CANTIDAD = CANTIDAD - @H_CANTIDAD
WHERE ID_INVENTARIO = @ID_INVENTARIO AND MATERIAL = @H_MATERIAL
UPDATE Inventarios SET CAPACIDAD = @CAPACIDAD 
WHERE ID_INVENTARIO = @ID_INVENTARIO 

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_GuardarJugador]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_GuardarJugador]
(@ID_JUGADOR AS INT,
@USUARIO AS VARCHAR(50),
@ID_INVENTARIO AS INT,
@CAPACIDAD AS INT)
AS 
BEGIN

INSERT INTO Inventarios(ID_INVENTARIO, CAPACIDAD)
VALUES (@ID_INVENTARIO, @CAPACIDAD)
INSERT INTO Jugadores(ID_JUGADOR,USUARIO,ID_INVENTARIO)
VALUES (@ID_JUGADOR,@USUARIO,@ID_INVENTARIO)

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_Herramientas]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[consulta_Herramientas]
AS
BEGIN
SELECT i.ID_INVENTARIO AS "ID_INVENTARIO",i.CAPACIDAD,h.CANTIDAD,h.MATERIAL,h.HERRAMIENTA
FROM Inventarios i 
LEFT JOIN Herramientas h ON i.ID_INVENTARIO = h.ID_INVENTARIO
END
GO
/****** Object:  StoredProcedure [dbo].[consulta_Inventarios]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[consulta_Inventarios]
AS 
BEGIN

SELECT j.ID_JUGADOR, j.USUARIO, i.ID_INVENTARIO, i.CAPACIDAD, c.CANTIDAD, c.MATERIAL, h.CANTIDAD, h.MATERIAL, h.HERRAMIENTA
FROM Jugadores j 
INNER JOIN Inventarios i ON j.ID_INVENTARIO = i.ID_INVENTARIO
INNER JOIN Cubos c ON i.ID_INVENTARIO = c.ID_INVENTARIO
INNER JOIN Herramientas h ON i.ID_INVENTARIO = h.ID_INVENTARIO
ORDER BY j.ID_JUGADOR

END
GO
/****** Object:  StoredProcedure [dbo].[consulta_LimpiarInventario]    Script Date: 28/11/2021 03:16:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[consulta_LimpiarInventario]
(@ID_INVENTARIO AS INT,
@CAPACIDAD AS INT)
AS 
BEGIN

UPDATE Inventarios SET CAPACIDAD = @CAPACIDAD
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Cubos
WHERE ID_INVENTARIO = @ID_INVENTARIO
DELETE FROM Herramientas
WHERE ID_INVENTARIO = @ID_INVENTARIO

END
GO
USE [master]
GO
